<body>
<div id="errorwrap">
  <h1>Whoops!</h1>
  <h2>404</h2>
  <div id="container">
				<div id="causes">
					<p class="header">Possible causes of this issue: </p>
					<ul>
						<li>
							Page no longer exists
						</li>
						<li>
							Bad link (my bad)
						</li>
						<li>
							Bad request (your bad)
						</li>
					</ul>
				</div>
				<div id="suggestions">
					<p class="header">Perhaps try:</p>
					<ul>
						<li>
							Using navigation menu to re-attempt
						</li>
						<li>
							Double checking url path
						</li>
						<li>
							Going back to <a routerLink="/">home page</a>
						</li>
					</ul>
				</div>
			</div>
</div>
</body>
