<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input kendoTextBox type="text" placeholder="Name" />
			<input kendoTextBox type="email" placeholder="Email" />
			<input kendoTextBox type="password" placeholder="Password" />
			<button class="coloredBtn">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
    <button mat-icon-button routerLink="/"><mat-icon>arrow_back</mat-icon></button>
		<form action="#">
			<h1>Welcome Back!</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input kendoTextBox type="email" placeholder="Email" />
			<input kendoTextBox type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button kendoButton class="coloredBtn">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
    <button mat-icon-button routerLink="/" id="overlay-left-backbtn"><mat-icon>arrow_back</mat-icon></button>
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Not New Here?</h1>
				<p>To access your existing account, log in with your information</p>
				<button kendoButton class="ghost" id="signIn" (click)="signIn()">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start your journey with us</p>
				<button kendoButton class="ghost" id="signUp" (click)="signUp()" kendoButton>Sign Up</button>
			</div>
		</div>
	</div>
</div>
